/*CLEARING STYLES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

/*SITEWIDE VALUES*/
:root {
  /*Colors*/
  --BibBlue: hsl(200 65% 72%);
  --BibBlueVar: hsl(200 65% 65%);
  --BibBlueOffWhite: hsl(200 60% 80%);
  /*Sizes*/
  --MagicCardSize: 12rem;
  --NavCardSize: 15rem;
  --FooterHeight: 7rem;
  /*Gaps*/
  --LargeGap: 4rem;
  --SmallGap: 2rem;
}

/*CUSTOM FONTS*/

@font-face {
  font-family: "Modern Sans";
  src: url("../ModernSans-Light.otf");
}

/*UNIVERSAL PAGE STYLE PROPERTIES*/
.pageHeight {
  min-height: calc(100vh - var(--FooterHeight));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (width < 500px) {
  :root {
    --NavCardSize: 9rem;
  }
}
