* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Modern Sans";
  src: url("../../public/ModernSans-Light.otf");
}

.pageHeight {
  min-height: calc(100vh - 14rem);
}
