---
import MagicCardGrid from "../components/MagicCardGrid.astro";
import BibBaseLayout from "../layouts/BibBaseLayout.astro";

const pageTitle = "Account"
---

<BibBaseLayout pageTitle ={pageTitle}>
<div>Account</div>
<MagicCardGrid />
</BibBaseLayout>