---
import "../styles/bibGlobal.css"
---
<header>
    <div class="footerBar">
        <a href="/" class="logo"></a>
    </div>
</header>

<style>
.footerBar {
    height: 7rem;
    background: linear-gradient(to top, hsl(200, 42%, 62%), hsl(200, 65%, 50%));
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Modern Sans, Arial, sans-serif;

}

.logo {
    background-image: url("public/biblioplexLogo.svg");
    height: 60%;
    aspect-ratio: 1/1;
    margin: 1.5rem;
    cursor: pointer;
}

.headerMenu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.headerMenuItem {
    cursor: pointer;
    color: rgb(230, 230, 230);
    transition: color 0.25s;
}

.headerMenuItem:hover {
    color: hsl(200, 50%, 34%);
}


</style>