---
import "../styles/bibGlobal.css";
---

<header>
  <div class="footerBar">
    <a href="/" class="logo"></a>
  </div>
</header>

<style>
  .footerBar {
    height: var(--FooterHeight);
    background-color: var(--BibBlueVar);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Modern Sans, Arial, sans-serif;
  }

  .logo {
    background-image: url("/biblioplexLogoDark.svg");
    height: 60%;
    aspect-ratio: 1/1;
    margin: 1.5rem;
    cursor: pointer;
  }
</style>
