---
import "../styles/bibGlobal.css";
---

<header>
  <div class="headerBar">
    <a href="/" class="logo"></a>
    <ul class="headerMenu">
      <li class="headerMenuItem"><a href="/">Start Searching</a></li>
      <li class="headerMenuItem"><a href="/Archives">Archives</a></li>
      <li class="headerMenuItem"><a href="/Account">Account</a></li>
      <li class="headerMenuItem"><a href="/Groupings">Groupings</a></li>
    </ul>
  </div>
</header>

<style>
  .headerBar {
    height: 7rem;
    background: linear-gradient(to bottom, var(--BibBlue), var(--BibBlueVar));
    display: flex;
    align-items: center;
    font-family: Modern Sans, Arial, sans-serif;
  }

  .logo {
    background-image: url("/biblioplexLogo.svg");
    height: 60%;
    aspect-ratio: 1/1;
    margin: 1.5rem;
    cursor: pointer;
  }

  .headerMenu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.3rem;
    font-weight: 700;
  }

  .headerMenuItem {
    cursor: pointer;
    color: white;
    transition: color 0.25s;
  }

  .headerMenuItem:hover {
    color: hsl(200, 50%, 34%);
  }
</style>
