---
const { cardIMGURL, cardLink } = Astro.props;
---

<div class="MagicCardContainer">
  <div style={{ backgroundImage: `url(${cardIMGURL})` }} class="MagicCardImage">
  </div>
  <a href={`${cardLink}`}></a>
</div>

<style>
  .MagicCardContainer {
    display: grid;
    width: 100%;
    min-width: var(--MagicCardSize);
    aspect-ratio: 2.5/3.5;
    padding: 1%;
  }

  .MagicCardContainer > * {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
  }
  .MagicCardImage {
    width: 100%;
    height: 100%;
    clip-path: inset(0% round 4% 4% 4% 4%);
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  a {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
</style>
