---
import MagicCard from "./MagicCard.astro";

---

<div class="MagicCardGridContainer">
    <MagicCard cardIMGURL = "https://cards.scryfall.io/large/front/7/9/79a6bf25-4e94-4760-b4f5-69c78ac98fb5.jpg?1645415764" />
</div>