---
import MagicCard from "./MagicCard.astro";
const { MtgCardList } = Astro.props;
---

<div class="magicCardGridContainer">
  {
    MtgCardList.map(
      (GenMtgCard: { title: string; imgSrc: string; link: string }) => {
        return (
          <MagicCard
            cardIMGURL={GenMtgCard.imgSrc}
            cardLink={GenMtgCard.link}
          />
        );
      }
    )
  }
</div>

<style>
  .magicCardGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--MagicCardSize), 1fr));
    max-width: calc(
      (var(--MagicCardSize) * 5) + (var(--MagicCardSize) * 5 * 0.2)
    );
    margin: auto;
    padding-inline: calc((var(--MagicCardSize) * 5) * 0.1);
    justify-items: center;
  }
</style>
