---
const { cardIMGURL } = Astro.props
---

<div class="MagicCardContainer">
    <img src={cardIMGURL} class="MagicCardImage">
    <a href="/"></a>
</div>

<style>
    .MagicCardContainer {
        display: grid;
        width: 10rem;
        aspect-ratio: 2.5/3.5;
    }

    .MagicCardContainer > * {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
    }
    .MagicCardImage {
        width: 100%;
        height: 100%;
    }
    
    a {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

</style>