---
import NavCard from "./NavCard.astro";
---

<div class="navCardGrid">
  <NavCard
    title="One"
    subtitle="A valid subtitle"
    imgNum="image2"
    link="Archives"
  />

  <NavCard
    title="One"
    subtitle="A valid subtitle"
    imgNum="image2"
    link="Archives"
  />

  <NavCard
    title="One"
    subtitle="A valid subtitle"
    imgNum="image2"
    link="Archives"
  />

  <NavCard
    title="One"
    subtitle="A valid subtitle"
    imgNum="image2"
    link="Archives"
  />

  <NavCard
    title="One"
    subtitle="A valid subtitle"
    imgNum="image2"
    link="Archives"
  />

  <NavCard
    title="One"
    subtitle="A valid subtitle"
    imgNum="image2"
    link="Archives"
  />
</div>

<style>
  .navCardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--NavCardSize), 1fr));
    max-width: calc((var(--NavCardSize) * 5) + (var(--NavCardSize) * 5 * 0.2));
    margin: auto;
    margin-inline: 2rem;
    gap: 1rem;
    padding-inline: calc((var(--NavCardSize) * 5 * 0.1) + 4);
    justify-items: center;
  }
</style>
